/*h1,
span.caption-text {
    color: #0f294f;
}*/


dt {
    display: inline-block !important;
}

.rst-content {
    text-align: justify;
}


@media (min-width: 960px) {
    :root {
        /* adjust both sidebars if needed */
        --sidebar-width: 300px;
        --toc-width: 180px;
    }

    .content {
        padding-top: 0.3rem !important;
    }

    .sidebar-drawer {
        width: var(--sidebar-width) !important;
    }

    .toc-drawer {
        display: none !important;
    }

    .main-content {
        margin-left: var(--sidebar-width) !important;
        margin-right: 0 !important;
    }


}